.App {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #14181b;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

nav img {
  width: 50px;
  margin-left: 20px;
}

.tab-bar {
  display: flex;
  margin-bottom: 20px;
  margin-top: 2vh;
  margin-right: 20px;
}

.tab-bar button {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  border-radius: 8px;
}

.tab-bar button:last-child {
  margin-right: 0;
}

.tab-bar .active {
  background-color: #0098c3;
  color: #ffffff;
  border-color: #007bff;
}

.starter-input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.starter-input-group button {
  font-family: "SpaceMono";
  background-color: #fffa65;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: #4b4b4b;
  font-size: 1rem;
  font-style: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25%;
}
.input-group button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.starter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
}

.starter h1 {
  font-family: "SpaceMonoBold";
  font-weight: 300;
  line-height: 125%;
  color: #fffa65;
  font-size: 6vw;
  z-index: 1;
  text-align: center;
}

.starter p {
  font-family: "SpaceMono";
  font-style: normal;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 125%;
  z-index: 1;
  text-align: center;
  color: #fffa65;
}
