.portfolio {
  text-align: left; /* Aligning text to the left */
  font-family: "SpaceMono";
  padding: 2vw;
  background-color:  #14181b;

}

.wallet-info {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center; /* Center aligning the wallet info */
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
} 

.portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 3px solid #252b30;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;

  cursor: pointer;
  background-color: #14181b;
}

.portfolio-item:hover {
  background-color: #2a2d2f;
}

.item-logo {
  height: 100px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  justify-content: space-around;
}

.item-details .image-header{

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;

}

.item-details .image-header h4 {
  font-size: 1.5vw;
}


.item-details .item-data-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.item-details .copy-item{

  width: 30px;
  height: 30px;
}


.bold {
  font-weight: bold;
}


@media screen and (max-width: 950px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr); /* Adjust grid to 3 columns for tablets */
    gap: 15px; /* Slightly reduce gap */
  }

  .portfolio-item {
    padding: 8px; /* Adjust padding for better spacing */
  }

  .item-details p {
    font-size: 0.9rem; /* Adjust font size for readability */
  }
  .item-details .copy-item{

    width: 25px;
    height: 25px;
  }

}

@media screen and (max-width: 526px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr); /* Adjust grid to 2 columns for small phones */
    gap: 10px; /* Further reduce gap */
  }

  .portfolio-item {
    flex-direction: column; /* Change layout to vertical for tighter spaces */
    padding: 10px; /* Ensure padding is adequate */
  }

  .item-details {
    margin-bottom: 10px; /* Add spacing between text and copy icon */
  }

  .item-details p {
    text-align: center; /* Center-align text for a cleaner look on small screens */
    font-size: 1rem; /* Increase font size for better readability */
  }
  .item-details .copy-item{

    width: 20px;
    height: 20px;
  }
}