.Shitfolio {
  text-align: center;
  background-color:  #14181b;
  width: 100%;
  color: #fffa65;
  
}

.Shitfolio-logo {
  object-fit: contain;
  max-width: 350px;
  justify-self: end;

}

.Shitfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 6vw;
  display: column;
  background-size: cover;
  background-position: center top;
  height: 100vh;
}

.Shitfolio-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

.Shitfolio-text h1 {
  font-family: "SpaceMonoBold";
  font-weight: 300;
  line-height: 125%;
  color: #fffa65;
  font-size: 6vw;
  z-index: 1;
  text-align: center;
}

.Shitfolio-text p{
  font-family: "SpaceMono";
  font-style: normal;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 125%;
  z-index: 1;
  text-align: center;
  width: 75%;
  color: #fffa65;
}

.Shitfolio-text span{
  font-family: "SpaceMono";
  font-style: normal;
  font-size: 1vw;
  font-weight: 300;
  line-height: 125%;
  z-index: 1;
  text-align: center;

}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group input {
  font-family: "SpaceMono";
  border: 2px solid #4b4b4b;
  border-radius: 4px;
  padding: 10px;
  color: #282c34;
  font-size: 1rem;
  width: 40ch;
  text-align: center;
}

.input-group button {
  font-family: "SpaceMono";
  background-color: #fffa65;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: #4b4b4b;
  font-size: 1rem;
  font-style: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-group button:hover {
  background-color: #fe696f; /* Button hover effect */
}



@media screen and (max-width: 950px) {

  .Shitfolio-header {
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 3vw;
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .Shitfolio-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
  }
  .Shitfolio-logo {
    object-fit: contain;
    max-width: 150px;
    justify-self: end;
  }

  .Shitfolio-text h1 {
    font-size: 5vw;
    width: 75%;
text-align: center;
  }
  
  .Shitfolio-text p{
    font-size: 3vw;
    text-align: center;

  }
  
  .Shitfolio-text span{
    font-size: 2vw;
    text-align: center;


  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-group input {
    font-family: "SpaceMono";
    border: 2px solid #938EFF;
    border-radius: 4px;
    padding: 10px;
    color: #282c34;
    font-size: 3vw;
    width: 35ch;
  }
  
  .input-group button {
    font-family: "SpaceMono";
    background-color: #938EFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    font-style: bold;
    cursor: pointer;
    width: 20ch;
    transition: background-color 0.3s ease;
  }
}

@media screen and (max-width: 526px) {
  .Shitfolio-header {
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 3vw;
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .Shitfolio-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
  }
  .Shitfolio-logo {
    object-fit: contain;
    max-width: 150px;
    justify-self: end;
  }

  .Shitfolio-text h1 {
    font-size: 5vw;
    width: 75%;
text-align: center;
  }
  
  .Shitfolio-text p{
    font-size: 3vw;
    text-align: center;

  }
  
  .Shitfolio-text span{
    font-size: 2vw;
    text-align: center;

  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-group input {
    font-family: "SpaceMono";
    border: 2px solid #938EFF;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px; /* Whitespace between text input and button */
    color: #282c34;
    font-size: 3vw;
    width: 35ch;
  }
  
  .input-group button {
    font-family: "SpaceMono";
    background-color: #938EFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    font-style: bold;
    cursor: pointer;
    width: 20ch;
    transition: background-color 0.3s ease;
  }
}