.all-statistics {
  padding: 2vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  background-color:  #14181b;

}

.statistics-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "SpaceMono";
  color: white;
}


.highlights {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 5vw;
  padding-bottom: 5vw;
  gap: 20px;
}

.highlights .highlights-item {
  border: 3px solid #252b30;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
  color: white;
}

h1
  {
    font-family: "SpaceMonoBold";
    font-weight: 300;
    line-height: 125%;
    color: #fffa65;
    font-size: 2.5vw;
    z-index: 1;
    text-align: center;
  
}

.statistics-item {
  border: 3px solid #252b30;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.statistics-item:hover {
  background-color: #3d3d3d;
}

.token-details {
  text-align: left;
}



.token-details .update {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.token-details .update .update-button {
  border: transparent;
  background-color: #948eff68;
  border-radius: 8px;
  cursor: pointer;
}

.token-details .update .update-button:hover {
  background-color: #fe696e67;
}

.token-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.token-name {
  font-weight: bold;
}

.holding-net {
  background: rgb(75,75,75);
  background: linear-gradient(143deg, #14181b 35%, #4c3763);  
}

.airdrop-net {
  background: rgb(75,75,75);
  background: linear-gradient(143deg, #14181b 35%, #374e63);  
}

.positive-net {
  background: rgb(0,0,0);
  background: linear-gradient(143deg, #14181b 35%, #376338);  
}
.negative-net {
  background: linear-gradient(143deg, #14181b 35%, #633737);  
}

.best-play {
  border-color: #4caf50;
  color: #4caf50;
}

.worst-play {
  border-color: #f44336;
  color: #f44336;
}

.transaction-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  text-align: start;
}

.transaction-buy {
  border-color: #4caf50;
}

.transaction-sell {
  border-color: #f44336;
}


.statistics-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.statistics-bar button{

  font-family: "SpaceMono";
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: black;
  font-size: 1rem;
  font-style: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0.7
}

.statistics-bar .active {
  background-color: #fffa65;
  color: black;
  border-color: black;
  opacity: 1

} 


@media screen and (max-width: 950px) {
  .highlights {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .highlights-item, .statistics-item {
    padding: 15px;
  }

  .statistics-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  
  .statistics-item {
    margin-bottom: 20px;
  }

  .token-details .update .update-button img {
    width: 24px;
    height: auto;
  }
}

@media screen and (max-width: 526px) {
  .highlights {
    grid-template-columns: 1fr;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }

  .statistics-grid {
    grid-template-columns: 1fr;
  }

  .statistics-item, .highlights-item {
    padding: 12px;
    text-align: start;
    font-size: .75rem;

  }

  .token-details, .token-details .update .update-button {
    width: 100%;
  }

  .token-details .update .update-button {
    margin-top: 10px;
    width: 40px;
    height: 40px;
  }

  .token-details {
    text-align:start;
    align-items: start;
  }


  .token-details .update {
    flex-direction: column-reverse;
  }

  .token-details .update p{
    font-size: .8rem;
  }

  .token-details p{
    font-size: .8rem;
  }

  .transaction-item {
    font-size: 0.9rem;
  }
}
