.portfolio {
  text-align: left; /* Aligning text to the left */
  font-family: "SpaceMono";

}

.wallet-info {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center; /* Center aligning the wallet info */
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.item-logo {
  height: 100px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
}


.bold {
  font-weight: bold;
}
