.Shitfolio {
  text-align: center;
  background-color: white;
  width: 100%;
}

.Shitfolio-logo {
  object-fit: contain;
  max-width: 350px;
  justify-self: end;

}

.Shitfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: start;
  padding: 12vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: url("../public/aurorabg.png") no-repeat center center;
  background-size: cover;
  background-position: center top;
}

.Shitfolio-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

.Shitfolio-text h1 {
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  color: #fe696f;
  font-size: 3.5vw;
  z-index: 1;
  text-align: left;
}

.Shitfolio-text p{
  font-style: normal;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 125%;
  z-index: 1;
  text-align: left;
  width: 75%;
}

.Shitfolio-text span{
  font-style: normal;
  font-size: 1vw;
  font-weight: 300;
  line-height: 125%;
  z-index: 1;
  text-align: left;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group input {

  border: 2px solid #938EFF;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px; /* Whitespace between text input and button */
  color: #282c34;
  font-size: 1rem;
  width: 40ch;
}

.input-group button {
  background-color: #938EFF;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-style: bold;
  cursor: pointer;
  width: 15ch;
  transition: background-color 0.3s ease;
}

.input-group button:hover {
  background-color: #fe696f; /* Button hover effect */
}
