.all-statistics {
  padding: 2vw;
}

.statistics-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-family: "SpaceMono";
}

.highlights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5vw;
  padding-bottom: 5vw;
  gap: 20px;
}

.highlights .highlights-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

h2 {
  font-family: "SpaceMono";
  font-weight: bold;
}

.statistics-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.item-details {
  text-align: left;
}

.token-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.holding-net {
  background-color: #d0e186; /* Light green */
}
/* Background color for positive net performance */
.positive-net {
  background-color: #c2fac28f; /* Light green */
}

/* Background color for negative net performance */
.negative-net {
  background-color: #f8b3b37c; /* Light red */
}

/* Additional styles for best and worst plays */
.best-play {
  border-color: #4caf50; /* Green border for best play */
  color: #4caf50; /* Green text for best play */
}

.worst-play {
  border-color: #f44336; /* Red border for worst play */
  color: #f44336; /* Red text for worst play */
}

.transaction-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  text-align: start;
}

.transaction-buy {
  border-color: #4caf50; /* Green border for buy transactions */
}

.transaction-sell {
  border-color: #f44336; /* Red border for sell transactions */
}
