.statistics-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

h2 {
  
  font-weight: bold;
}

.statistics-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.item-details {
  text-align: left;
}

.token-name {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Background color for positive net performance */
.positive-net {
  background-color: #c2fac2; /* Light green */
}

/* Background color for negative net performance */
.negative-net {
  background-color: #f8b3b3; /* Light red */
}

/* Additional styles for best and worst plays */
.best-play {
  border-color: #4CAF50; /* Green border for best play */
  color: #4CAF50; /* Green text for best play */
}

.worst-play {
  border-color: #f44336; /* Red border for worst play */
  color: #f44336; /* Red text for worst play */
}
