.all-statistics {
  padding: 2vw;
}

.statistics-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-family: "SpaceMono";
}

.highlights {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 5vw;
  padding-bottom: 5vw;
  gap: 20px;
}

.highlights .highlights-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

h2 {
  font-family: "SpaceMono";
  font-weight: bold;
}

.statistics-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.token-details {
  text-align: left;
}

.token-details .update {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.token-details .update .update-button {
  border: transparent;
  background-color: #948eff68;
  border-radius: 8px;
  cursor: pointer;
}

.token-details .update .update-button:hover {
  background-color: #fe696e67;
}

.token-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.holding-net {
  background-color: #ffaff7ca;
}

.airdrop-net {
  background-color: #c5d1ff;
}

.positive-net {
  background-color: #c2fac28f;
}

.negative-net {
  background-color: #f8b3b37c;
}

.best-play {
  border-color: #4caf50;
  color: #4caf50;
}

.worst-play {
  border-color: #f44336;
  color: #f44336;
}

.transaction-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  text-align: start;
}

.transaction-buy {
  border-color: #4caf50;
}

.transaction-sell {
  border-color: #f44336;
}

@media screen and (max-width: 950px) {
  .highlights {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .highlights-item, .statistics-item {
    padding: 15px;
  }

  .statistics-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  
  .statistics-item {
    margin-bottom: 20px;
  }

  .token-details .update .update-button img {
    width: 24px;
    height: auto;
  }
}

@media screen and (max-width: 526px) {
  .highlights {
    grid-template-columns: 1fr;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }

  .statistics-grid {
    grid-template-columns: 1fr;
  }

  .statistics-item, .highlights-item {
    padding: 12px;
    text-align: start;
    font-size: .75rem;

  }

  .token-details, .token-details .update .update-button {
    width: 100%;
  }

  .token-details .update .update-button {
    margin-top: 10px;
    width: 40px;
    height: 40px;
  }

  .token-details {
    text-align:start;
    align-items: start;
  }


  .token-details .update {
    flex-direction: column-reverse;
  }

  .token-details .update p{
    font-size: .8rem;
  }

  .token-details p{
    font-size: .8rem;
  }

  .transaction-item {
    font-size: 0.9rem;
  }
}
